doctype
html
    head
        title='HELLO WORLD!'
        meta(charset='utf-8')
        meta(name='description', content='jopa popa perepopa')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        link(href='19-09.css' rel='stylesheet')

    body
        .cont
            .circl
        .aaa
            h2 Привет,
                br
                | ЖОПИКИ!
                //Вставка <br> - 1-й способ
            p Asperiores soluta pariatur alias expedita ullam maiores voluptatum, dolore iure ut? Consequuntur dolores quod illum laudantium ex, aspernatur.

        img.img(src='https://tpc.googlesyndication.com/pagead/imgad?id=CICAgKDrndeLYhCsAhg8MgjzwcFMJpkKgg').

        h2.two Привет,
            .br попики!!!?!
            //Вставка <br> - 2-й способ